/**
 * @file grid.css
 *
 * Media queries and grid.
 *
 * These follow after primary styles so they will successfully override.
 */
/* Import master */
/**
 * @file master.css.less
 *
 * This theme leverages the use of LESS CSS pre-processor (http://lesscss.org).
 *
 * These are the global defaults. Override or add more as needed.
 */
/* Defaults which you can freely override */
/* Utility variable — you should never need to modify this */
/* Set @total-width to 100% for a fluid layout */
/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
html {
  width: 100%;
  *zoom: 1;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
html:before,
html:after {
  content: "";
  display: table;
}
html:after {
  clear: both;
}
/**
 * Using border-box for elastic gutters.
 *
 * Beware! IE7 does not support this.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html */
/** 
 * @media screen and (min-width: 760px) 
 *
 * min-width / font-size = target-width
 */
@media screen and (min-width: 47.5em) {
  body {
    /* Reset font-size to 14px */
    font-size: 1em;
  }
}
@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation: landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
}
